body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("https://media.gettyimages.com/id/175655525/photo/bison-range-tetons.jpg?s=612x612&w=gi&k=20&c=z9y0e8t1tLqDvLk895do21jqT0D_DEZsXKW35hP0IGo=");
	background-repeat: no-repeat;
	background-size:cover;
}

table {
	width: 50%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.cta-logo {
	width: 50px;
	height: 50px;
}

.elk-logo {
	width: 100%;
	height: 50px;
}



.route-Red {
	background-color: #c60c30;
	color: white;
	font-weight: bold;
}

.route-Blue {
	background-color: #00a1de;
	color: white;
	font-weight: bold;
}

.route-Org {
	background-color: #f9461c;
	color: white;
	font-weight: bold;
}

.route-Brn {
	background-color: #62361b;
	color: white;
	font-weight: bold;
}

.route-Pink {
	background-color: #e27ea6;
	color: white;
	font-weight: bold;
}

.route-G {
	background-color: #009b3a;
	color: white;
	font-weight: bold;
}

.route-P {
	background-color: #522398;
	color: white;
	font-weight: bold;
}

.route-Y {
	background-color: #f9e300;
	color: white;
	font-weight: bold;
}