body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #5a5a5a;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 20px;
}

h1, h2, p {
	color: white;
}

table {
	width: 1000px;
	border-collapse: collapse;
	margin: 20px;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	color: white;
}

.cta-logo {
	width: 50px;
	height: 50px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.elk-logo {
	width: 100%;
	height: 50px;
}

.route-Red {
	background-color: #c60c30;
	color: white;
	font-weight: bold;
}

.route-Blue {
	background-color: #00a1de;
	color: white;
	font-weight: bold;
}

.route-Org {
	background-color: #f9461c;
	color: white;
	font-weight: bold;
}

.route-Brn {
	background-color: #62361b;
	color: white;
	font-weight: bold;
}

.route-Pink {
	background-color: #e27ea6;
	color: white;
	font-weight: bold;
}

.route-G {
	background-color: #009b3a;
	color: white;
	font-weight: bold;
}

.route-P {
	background-color: #522398;
	color: white;
	font-weight: bold;
}

.route-Y {
	background-color: #f9e300;
	color: white;
	font-weight: bold;
}

.fade-in {
	animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
	animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#section-container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.weather-img {
	height: 100px;
	width: 100px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.text {
	font-size: 20px;
}

.weather-section {
	background-color: black;
}

.train-section {
	background-color: black;
}